user_accueil:
    path:     /
    defaults: { _controller: OursUserBundle:User:index }

add_personage:
    path:     /newPersonage
    defaults: { _controller: OursUserBundle:Personage:New }

show_personage:
    path:     /{personage}/showPersonage
    defaults: { _controller: OursUserBundle:Personage:Show }
    requirements:
        personage: \d+

edit_personage:
    path:     /{personage}/editPersonage
    defaults: { _controller: OursUserBundle:Personage:Edit }
    requirements:
        personage: \d+

show_agriculture_personage:
    path:     /showAgriculture
    defaults: { _controller: OursUserBundle:Personage:ShowAgriculture }

show_artisanat_personage:
    path:     /showArtisanat
    defaults: { _controller: OursUserBundle:Personage:ShowArtisanat }

content_artisanat_outils:
    resource: "@OursUserBundle/Resources/config/Artisanat/accessoires.yml"
    prefix:     /contentArtisanat/Outils

content_artisanat_accessoires:
    resource: "@OursUserBundle/Resources/config/Artisanat/outils.yml"
    prefix:     /contentArtisanat/Accessoires

content_artisanat_mages:
    resource: "@OursUserBundle/Resources/config/Artisanat/mages.yml"
    prefix:     /contentArtisanat/Mages

content_artisanat_chasseurs:
    resource: "@OursUserBundle/Resources/config/Artisanat/chasseurs.yml"
    prefix:     /contentArtisanat/Chasseurs